<% if target.errors.any? %>

  <div class="error_explanation alert alert-danger <%= local_assigns[:class] %>">
    <p class="lead">
      <%= pluralize(target.errors.count, "error") %> prohibited this <%= target.model_name.human.downcase %> from being saved:
    </p>
    <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>
