<nav class="navbar navbar-expand-lg navbar-default mb-3">
  <!-- Brand and toggle -->
  <a class="navbar-brand" href="/"><%= t('app.title') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Content group -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to icon(:fas, 'home', 'Home'), root_url, class: 'nav-link' %>
      </li>

      <% if can? :manage, :all %>
        <!-- Admin menu -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            <i class="fas fa-cog"></i> Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <%# link_to icon('fas', 'users', 'Users', class: 'fa-fw'), users_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%# link_to icon('fas', 'running', 'Active Users', class: 'fa-fw'), active_user_sessions_path, class: 'dropdown-item' %>
            <%# link_to icon('fas', 'history', 'History', class: 'fa-fw'), versions_path, class: 'dropdown-item' %>
            <%# link_to icon('fas', 'tasks', 'Jobs', class: 'fa-fw'), jobs_path, class: 'dropdown-item' %>
            <%= link_to icon('fas', 'rocket', 'Release Notes', class: 'fa-fw'), page_path('releases'), class: 'dropdown-item' %>
          </ul>
        </li>
      <% end %>
    </ul>

    <%= render 'login_menu' %>
  </div><!-- /.navbar-collapse -->
</nav>
