<!-- Images from https://github.com/alrra/browser-logos -->
<% if browser.ie? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Please update your browser</h4>
        Users with legacy browsers may find that some features do not function.
        We recommend downloading a recent browser for a faster, safer browsing experience on the web.

        <ul class="list-inline text-center">
          <li class="text-center list-inline-item">
            <%= link_to 'http://www.google.com/chrome', target: '_blank', rel: 'noopener', class: 'alert-link' do %>
              <div><%= image_tag 'chrome_64x64.png' %></div>
              Google Chrome
            <% end %>
          </li>
          <li class="text-center list-inline-item">
            <%= link_to 'http://www.firefox.com', target: '_blank', rel: 'noopener', class: 'alert-link' do %>
              <div><%= image_tag 'firefox_64x64.png' %></div>
              Mozilla Firefox
            <% end %>
          </li>
          <li class="text-center list-inline-item">
            <%= link_to 'https://support.apple.com/en-us/HT204416', target: '_blank', rel: 'noopener', class: 'alert-link' do %>
              <div><%= image_tag 'safari_64x64.png' %></div>
              Apple Safari
            <% end %>
          </li>
          <li class="text-center list-inline-item">
            <%= link_to 'https://www.microsoft.com/en-us/edge', target: '_blank', rel: 'noopener', class: 'alert-link' do %>
              <div><%= image_tag 'edge_64x64.png' %></div>
              Microsoft Edge
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
