<%= form_with(model: search, url: versions_path, scope: :q, method: :get, class: 'form-inline version-search-form', data: { autosubmit: true }) do |form| %>

  <%= render 'error_messages', target: search %>

  <%= form.collection_select :author_id, User.sorted, :id, :to_s, {include_blank: '(any author)'},
  {class: 'form-control mr-sm-2', title: 'Author', data: {toggle: 'tooltip'}} %>

  <%= form.hidden_field :item, value: search.item_global_id %>

  <% if search.item.blank? %>
    <%= form.collection_select :item_type, PaperTrail::Version.distinct.order(:item_type).pluck(:item_type), :to_s, :titleize,
        {include_blank: '(any model)'},
        {class: 'form-control mr-sm-2', title: 'Model Type', data: {toggle: 'tooltip'}} %>
  <% end %>

  <%= form.flatpickr_field :from, placeholder: 'From', data: { max_date: Date.today, min_date: search.min_date } %>
  <%= tag.span '—'.html_safe, class: 'mr-sm-2' %>
  <%= form.flatpickr_field :to, placeholder: 'To', data: { max_date: Date.today, min_date: search.min_date } %>

  <div class="form-group">
    <%= form.submit 'Search', class: 'btn btn-primary' %>
  </div>
<% end %>
