<div class="btn-toolbar ml-auto" role="toolbar">

  <!-- Download -->
  <div class="btn-group" role="group">
    <%= link_to icon('fas', 'download'), url_for(format: 'xlsx', q: version_search_form_params), class: 'btn btn-light', title: 'Excel Download', 'data-toggle': 'tooltip' %>
  </div>

</div>
