<div class="toolbar-header">
  <h2>
    Revision History
    <%= tag.small "on #{@search.item_type}: #{@search.item}" if @search.item %>
  </h2>
  <%= render 'toolbar' %>
</div>

<%= render 'search_form', search: @search %>

<%= pagination_entries_info @versions %>

<ul class="list-group versions-container">
  <%= render @versions %>
</ul>

<%= no_records_message @versions %>
<%= pagination_nav @versions %>
