<table>
  <thead>
    <tr>
      <th>Change Type</th>
      <th>Item Type</th>
      <th>Item</th>
      <th>Who</th>
      <th>When</th>
      <th>Change</th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <%= tag.tr id: dom_id(version), class: dom_class(version) do %>
        <td><%= version.event %></td>
        <td><%= version.item_type %></td>
        <td>
          <% if version.route? %>
            <%= link_to(version.object_instance, version.object_url) %>
          <% elsif version.object_instance.present? %>
            <%= version.object_instance %>
          <% end %>
        </td>
        <td><%= version.who %></td>
        <td><%= version.created_at %></td>
        <td><%= version.changeset %></td>
      <% end %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Obtained from</th><td><%= request.original_url %></td>
    </tr>
    <tr>
      <th>Generated on</th><td><%= Time.current.to_fs(:long) %></td>
    </tr>
  </tfoot>
</table>
