<%%
  # Does <%= singular_table_name %> have *any* abilities from the menu?
  if [:edit, :show, :delete].index{|ability| can? ability, <%= singular_table_name %>}
    size ||= nil # default size
%>
  <div class="btn-group float-right action-menu" role="group">
    <!-- top-level menu links -->
    <%% if action_name != 'show' && can?(:show, <%= singular_table_name %>) %>
      <%%= link_to 'View', <%= singular_table_name %>_path(<%= singular_table_name %>), class: "btn btn-secondary #{size}" %>
    <%% end %>

    <!-- dropdown menu -->
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle <%%= size %>"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <!-- dropdown menu links -->
        <%% if action_name != 'show' && can?(:show, <%= singular_table_name %>) %>
          <%%= link_to icon('fas', 'file', 'View', class: 'fa-fw'), <%= singular_table_name %>_path(<%= singular_table_name %>), class: 'dropdown-item' %>
        <%% end %>
        <%% if can? :edit, <%= singular_table_name %> %>
          <%%= link_to icon('fas', 'pencil-alt', 'Edit', class: 'fa-fw'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'dropdown-item',
          accesskey: ('e' if action_name.eql?('show')) %>
        <%% end %>
        <%% if can? :manage, <%= singular_table_name %> %>
          <div class="dropdown-divider"></div>
          <%%= link_to icon('fas', 'history', 'History', class: 'fa-fw'), versions_path(q: { item: <%= singular_table_name %>.to_global_id.to_s }), class: 'dropdown-item' %>
          <%%= link_to icon('fas', 'trash-alt', 'Delete', class: 'fa-fw'), <%= singular_table_name %>, { data: { confirm: 'Are you sure?' }, method: :delete, class: 'dropdown-item' } if can?(:destroy, <%= singular_table_name %>) %>
        <%% end %>
      </ul>
    </div>
  </div>

<%% end %>
