<%%= form_with(model: <%= model_resource_name %>) do |form| %>

  <%%= render 'error_messages', target: <%= singular_table_name %> %>

<% attributes.each do |attribute| -%>
  <div class="form-group row">
    <%%= form.label :<%= attribute.name %>, class: 'required col-sm-4 col-form-label' %>
    <div class="col-sm-8">
      <%%= form.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control' %>
    </div>
  </div>

<% end -%>
  <div class="form-group row">
    <div class="offset-sm-4 col-sm-8">
      <%%= form.submit class: 'btn btn-primary' %>
      <%%= link_back 'Cancel', class: 'btn btn-secondary' %>
    </div>
  </div>
<%% end %>
