<div class="btn-toolbar ml-auto" role="toolbar">

  <!-- Download -->
  <div class="btn-group" role="group">
    <%%= link_to icon('fas', 'download'),
        url_for(format: :<%= excel_format %>, params: <%= singular_table_name %>_search_params),
        class: 'btn btn-light', title: 'Excel Download', 'data-toggle': 'tooltip' %>
  </div>

  <!-- Actions Group -->
  <div class="btn-group" role="group">
    <%%= link_to icon('fas', 'plus', 'New <%= singular_table_name.classify %>'), new_<%= singular_table_name %>_path, class: 'btn btn-primary' if can? :create, <%= singular_table_name.classify %> %>
  </div>

</div>
