<table>
  <thead>
    <tr>
      <th>Record</th>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <%%= tag.tr id: dom_id(<%= singular_table_name %>), class: dom_class(<%= singular_table_name %>) do %>
        <td><%%= link_to <%= singular_table_name %>.to_param, <%= singular_table_name %>_url(<%= singular_table_name %>) %></td>
<% attributes.each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
      <%% end %>
    <%% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Obtained from</th><td><%%= request.original_url %></td>
    </tr>
    <tr>
      <th>Generated on</th><td><%%= Time.current.to_fs(:long) %></td>
    </tr>
  </tfoot>
</table>
