<%
  # @overrides https://github.com/rails/rails/blob/3-2-stable/railties/lib/rails/generators/erb/scaffold/templates/index.html.erb
-%>
<div class="toolbar-header">
  <h2><%= plural_table_name.titleize %></h2>
  <%%= render 'toolbar' %>
</div>

<%%= pagination_entries_info @<%= plural_table_name %> %>

<table class="table table-striped">
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <%%= tag.tr id: dom_id(<%= singular_table_name %>), class: dom_class(<%= singular_table_name %>) do %>
<% attributes.each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= render 'action_menu', <%= singular_table_name %>: <%= singular_table_name %>, size: 'btn-sm' %></td>
      <%% end %>
    <%% end %>
  </tbody>
</table>

<%%= no_records_message @<%= plural_table_name %> %>
<%%= pagination_nav @<%= plural_table_name %> %>
