<%%= render 'action_menu', <%= singular_table_name %>: @<%= singular_table_name %> %>

<h2><%%= @<%= singular_table_name %>.to_s %></h2>

<dl class="row">
<% attributes.each do |attribute| -%>

  <dt class="col-sm-3"><%= attribute.human_name %></dt>
  <dd class="col-sm-9"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
<% end -%>

</dl>

<div class="form-group">
  <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-secondary' %>
</div>
