<%= container_tag with_column: true do %>

  <p class="lead">
    <%= pagination_entries_info @results %> for &ldquo;<strong><%= @search_terms %></strong>&rdquo;
  </p>

  <ul class="list-group search-results">
    <%= render @results %>
  </ul>

  <%= pagination_nav @results %>

<% end %>
