<h2>Check Your Email</h2>

<p><%= t('.sent_email') %></p>

<p>Look for an email like:</p>

<pre>
  From: <%= UserMailer.default_from %>
  Subject: <%= "#{I18n.t('app.title')} Password Update" %>
</pre>
