<h2>Change My Password</h2>

<%= form_with model: @user, url: password_path do |form| %>

  <%= render 'error_messages', target: @user %>

  <div class="form-group row">
    <%= form.label :password, class: 'required col-sm-4 col-form-label' %>
    <div class="col-sm-4">
      <%= form.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation, class: 'required col-sm-4 col-form-label' %>
    <div class="col-sm-4">
      <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-4 col-sm-8">
      <%= form.submit "Change my password and log me in", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
