<h2>Change Your Password?</h2>

<%= render 'error_messages', target: @password_request %>

<div class="row">
  <div class="col-sm-6">
    <p>
      Complete the form below and a secure link will be sent to your registered email, letting you securely change your password.
    </p>

    <%= form_with model: @password_request do |form| %>

      <div class="form-group row">
        <%= form.label :login, class: 'required col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= form.text_field :login, autocomplete: 'username', class: 'form-control', placeholder: 'Username or registered email' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-4 col-sm-8">
          <%= form.submit t('.submit'), class: 'btn btn-primary' %>

          <p class="form-text text-muted mt-2">
            If you need help,
            <%= mail_to t('app.support_email'),
                icon(:far, 'paper-plane', 'let us know'),
                subject: "Help with a Password Change",
                body: "(Tell us what the trouble is and how to contact you)",
                target: '_blank', rel: 'noopener' %>.
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6">
    <div class="card bg-info mb-3">
      <div class="card-header text-white">
        <%= icon :fas, 'info-circle', 'Details' %>
      </div>
      <ul class="list-group">
        <li class="list-group-item">For your security, we can only email a password reset to the registered account.</li>
        <li class="list-group-item">Always use the newest email. Re-submitting this form will deactivate all previously sent password update links.</li>
        <li class="list-group-item">Wait several minutes for the email to arrive. The subject line will read "<%= "#{I18n.t('app.title')} Password Update Link" %>". Make sure to check your Spam Folder.</li>
      </ul>
    </div>
  </div>
</div>
