<div class="nested-fields address-fields">
  <div class="form-group row">
    <%= form.label :line1, class: 'col-4 col-form-label' %>
    <div class="col-8">
      <%= form.text_field :line1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :line2, class: 'col-4 col-form-label' %>
    <div class="col-8">
      <%= form.text_field :line2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :city, 'City, State', class: 'col-4 col-form-label' %>
    <div class="col-5">
      <%= form.text_field :city, class: 'form-control', placeholder: 'City' %>
    </div>
    <div class="col-3">
      <%= form.text_field :state, class: 'form-control', placeholder: 'State' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :zip, class: 'col-4 col-form-label' %>
    <div class="col-8">
      <%= form.text_field :zip, class: 'form-control', placeholder: 'ZIP Code' %>
    </div>
  </div>
</div>
