<%#
  Formatted for USPS delivery, https://pe.usps.com/businessmail101?ViewName=DeliveryAddress

  Accepts :addressee parameter override. It may be an array to support "attention" and "company" lines.
%>
<% return unless address.present? %>

<%= tag.address class: local_assigns.fetch(:class, "mb-0") do %>
  <% Array(local_assigns.fetch(:addressee, address.addressee)).each do |addr| %><%= addr %><br><% end %>
  <% [address.line1, address.line2].compact.each do |line| %><%= line %><br><% end %>
  <%= address.city %>, <%= address.state %> <%= address.zip %>
<% end %>
