<!DOCTYPE html>
<html class="<%= @page_class %>" lang="<%= I18n.locale %>">
<head>
  <!-- Environment: <%= environment_info.name %> -->
  <!-- Revision: <%= environment_info.revision %> -->
  <!-- Released at: <%= environment_info.released_at %> -->

  <title><%= title %></title>
  <meta name="description" content="<%= meta_description %>" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= meta_robots %>
  <%= tag.meta name: :env, content: Rails.env %>
  <%= tag.meta name: :ga, content: ENV['GOOGLE_ANALYTICS'] %>
  <%= favicon_link_tag "favicon.ico" %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: :all %>
  <%= javascript_include_tag 'application', defer: true %>
</head>
<body>

  <%= render 'nav' %>
  <%= render 'environment_info' %>

  <div class="container">
    <%= render 'flash_messages' %>
    <%= render 'unsupported_browsers' %>

    <div class="row" id="content" tabindex="-1">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <p>
            <%= link_to image_tag("tiu-logo.svg", size: "220x53", alt: "TIU Logo"), "https://www.tiu11.org" %>
          </p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted">
            &copy; <%= Date.today.year %> <a href="http://www.tiu11.org">Tuscarora Intermediate Unit 11</a><br>
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
