<ul class="navbar-nav navbar-right">
  <% if current_user %>
    <li class="nav-item">
      <%= link_to icon('fas', 'question-circle', nil, class: 'fa-lg'), 'http://help.tiu11.org', title: 'TIU Help Desk', target: '_blank', rel: 'noopener', class: 'nav-link' %>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
        <%= icon 'fas', 'user' %> <%= current_user %>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <%= link_to icon('fas', 'user-circle', 'My Account', class: 'fa-fw'), account_path, class:'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to icon('fas', 'sign-out-alt', 'Logout', class: 'fa-fw'), logout_url(redirect_uri: request.fullpath), class:'dropdown-item' %>
      </ul>
    </li>
  <% else %>
    <li class="nav-item"><%= link_to "Login", login_url, class: 'nav-link' %></li>
  <% end %>

  <% if su_user %>
    <li class="nav-item">
      <%= link_to unsu_path, class: 'btn btn-warning' do %>
        <%= icon 'fas', 'sign-out-alt' %> return to <%= su_user %>
      <% end %>
    </li>
  <% end %>

</ul>
