<li class="list-group-item">

  <h4 class="list-group-item-heading">
    <small class="searchable-type">
      <%= document.searchable.model_name.human.titleize %>
    </small>

    <% if document.searchable_path %>
      <%= link_to document.searchable, document.searchable_path %>
    <% else %>
      <%= tag.span document.searchable, class: 'searchable' %>
      <!-- No path to the searchable, so link to parents that have a path -->
      <% document.parent_resources.each do |resource| %>
        <%= tag.span class: 'searchable-parent' do %>
          <%= icon 'fas', 'long-arrow-alt-right' %>
          <%= link_to resource, document.resource_path(resource) %>
        <% end %>
      <% end %>
    <% end %>
  </h4>

  <div class="search-result-highlight">
    <%= raw document.pg_search_highlight %>
  </div>
</li>
