<div>
  <%= phone_icon(phone, class: 'fa-fw') %>
  <%= link_to phone, phone.tel %>
  <span class="text-muted" title="Note" data-toggle="tooltip">
    <%= icon('far', 'comment', phone.note) if phone.note.present? %>
  </span>
</div>
