<%
  label_class = label_class.present? ? label_class : 'col-4'
  phone_div_class = phone_div_class.present? ? phone_div_class : 'col-4'
  show_best_time = show_best_time.eql?(false) ? false : true
%>
<div class="phone nested-fields">
  <div class="form-group row">

    <div class="col-4">
      <%= form.collection_select :tag, Phone::TAGS, :to_s, :to_s, {}, { class: 'form-control', title: 'Tag' } %>
    </div>


    <div class="<%= phone_div_class %>">
      <%= form.text_field :formatted_number, class: 'form-control', placeholder: '(###) ###-####', title: 'Number', data: { toggle: 'tooltip' } %>
    </div>

    <div class="col-4">
      <div class="input-group" title="Extension" data-toggle="tooltip">
        <span class="input-group-prepend" role="presentation">
          <span class="input-group-text d-none d-sm-block d-md-none">x</span>
          <span class="input-group-text d-sm-none d-md-block">Ext.</span>
        </span>
        <%= form.text_field :extension, class: 'form-control' %>
      </div>
    </div>

  </div>
  <% if show_best_time %>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <div class="input-group" title="Best time to call" data-toggle="tooltip">
          <span class="input-group-prepend" role="presentation">
            <span class="input-group-text"><%= icon('far', 'comment') %></span>
          </span>
          <%= form.text_field :note, class: 'form-control', placeholder: 'Best time to call' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-right">
    <%= form.hidden_field :_destroy %>
    <%= link_to icon('fas','trash', 'Delete'), '#0',
                class: 'btn btn-secondary remove-nested-fields' %>
  </div>
</div>
