<li class="list-group-item <%= dom_class(job) %>" id="<%= dom_id(job) %>">

  <% if can? :destroy, Delayed::Job %>
    <div class="btn-toolbar float-right ml-2" role="toolbar">
      <div class="btn-group" role="group">
        <%= link_to icon('fas', 'play', class: 'fa-fw'), job,
            method: :put, class: 'btn btn-success btn-sm', title: 'Queue Job Now', 'data-toggle': 'tooltip' %>
        <%= link_to icon('fas', 'trash-alt', class: 'fa-fw'), job, { data: { confirm: 'Are you sure?' },
            method: :delete, class: 'btn btn-danger btn-sm', title: 'Cancel Job', 'data-toggle': 'tooltip' } %>
      </div>
    </div>
  <% end %>

  <%= job_status_tag(job.status) %>

  <h4 class="list-group-item-heading">
    #<%= job.id %> <%= job.job_class %> &mdash;
    <%= "#{job.attempts} attempts," if job.attempts > 0 %>
    created <%= readable_date(job.created_at, tag: :abbr) %>,
    updated <%= readable_date(job.updated_at, tag: :abbr) %>,
    next run <%= readable_date(job.run_at, tag: :abbr) %>,
  </h4>

  <div class="list-group-item-text">
    <dl>
      <% if job.object %><!-- TODO: causes N+1 query. Consider a decorator with 1 query. -->
        <dt>Arguments</dt>
        <dd>
          <ol>
            <% job.object.arguments.each do |argument| %>
              <li><%= link_to_argument argument %></li>
            <% end %>
          </ol>
        </dd>
      <% end %>
      <% if job.last_error.present? %>
        <dt>Last error</dt>
        <dd class="small last-error">
          <samp><%= simple_format(job.last_error.lines.first(6).join) %>...</samp>
        </dd>
      <% end %>
    </dl>
  </div>
</li>
