<h1>Background Jobs</h1>

<ul class="nav nav-pills">
  <li class="nav-item" role="presentation">
    <%= link_to url_for(status: nil),
                class: ['nav-link', ('active' if params[:status].blank?)] do %>
      All Jobs
      <span class="badge badge-secondary"><%= @total_job_count %></span>
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to url_for(status: 'pending'),
                class: ['nav-link', ('active' if params[:status] == 'pending')] do %>
      Pending
      <span class="badge badge-secondary"><%= @pending_job_count %></span>
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to url_for(status: 'working'),
                class: ['nav-link', ('active' if params[:status] == 'working')] do %>
      Working
      <span class="badge badge-secondary"><%= @working_job_count %></span>
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to url_for(status: 'failed'),
                class: ['nav-link', ('active' if params[:status] == 'failed')] do %>
      Failed
      <span class="badge badge-secondary"><%= @failed_job_count %></span>
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to url_for(status: 'overdue'),
                class: ['nav-link', ('active' if params[:status] == 'overdue')] do %>
      Overdue
      <span class="badge badge-secondary"><%= @overdue_job_count %></span>
    <% end %>
  </li>
</ul>

<%= tag.p t('.overdue_jobs', count: @overdue_job_count), class: 'alert alert-danger mt-3' if @overdue_job_count.positive? %>

<div class="text-right">
  <%= pagination_entries_info @jobs %>
</div>

<ul class="list-group jobs-queue">
  <%= render partial: 'job', collection: @jobs %>
</ul>

<%= no_records_message @jobs, message: "No #{params[:status]} jobs." %>
<%= pagination_nav @jobs %>
