//== Forms

form label.required,
form .required {
  &::after {
    color: $danger;
    content: ' *';
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba($black, .25);
  }
}

form label.col-form-label {
  font-weight: bold;

  &.is-invalid { // Extend Bootstrap with color labels for invalid inputs
    color: theme-color-level('danger', $alert-color-level);
  }
}
