<%= form_with model: user_session, url: user_session_path do |form| %>

  <%= render 'error_messages', target: user_session %>

  <div class="form-group row">
    <%= form.label :login, class: 'required col-sm-4 col-form-label' %>
    <div class="col-sm-8">
      <%= form.text_field :login, class: 'form-control', autofocus: true, placeholder: 'Username or registered email' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password, class: 'required col-sm-4 col-form-label' %>
    <div class="col-sm-8">
      <%= form.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <%= hidden_field_tag :redirect_uri, params[:redirect_uri] if params[:redirect_uri] %>

  <div class="form-group row">
    <div class="offset-sm-4 col-sm-8">
      <%= form.submit "Log In", class: "btn btn-primary" %>
      <%= link_to "Create New Account", new_user_path, class: 'btn btn-secondary' %>
      <%= link_to "Forgot your password?", new_password_url, class: 'btn btn-link' %>
    </div>
  </div>
<% end %>
