<% title "Active Users" %>

<h1>Active Users</h1>

<p>
  <%= @users.select(&:logged_in?).size %> users have been active in the last <%= duration_text(User.logged_in_timeout) %>.
  <span class="text-muted"><%= @users.select(&:logged_out?).size %> users were active earlier today.</span>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-nowrap">
        Last Activity <%= icon 'fas', 'sort-numeric-up-alt', class: 'text-muted' %>
      </th>
      <th>Recent Logins</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= 'table-secondary text-muted' if user.logged_out? %>">
        <td>
          <%= link_to user.name, user, id: dom_id(user) %>
        </td>
        <td><%= user.last_request_at %></td>
        <td>
          Login #<%= tag.small user.login_count %> at <%= user.current_login_at %> from <%= tag.code user.current_login_ip %><br>
          Login #<%= tag.small user.login_count - 1 %> at <%= user.last_login_at %> from <%= tag.code user.last_login_ip %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
