<h2>Login</h2>

<div class="row">
  <div class="col-sm-6">
    <%= render 'form', user_session: @user_session %>
  </div>

  <div class="col-sm-6">
    <div class="card bg-info mb-3">
      <div class="card-header text-white">
        <%= icon 'fas', 'info-circle', 'Access Notice' %>
      </div>
      <ul class="list-group">
        <li class="list-group-item">All system access is logged.</li>
        <li class="list-group-item">Authorized users are required to access this system using their own, unique username.</li>
        <li class="list-group-item">You will be automatically logged off after <%= duration_text(User.logged_in_timeout) %> of inactivity.</li>
      </ul>
    </div>
  </div>
</div>
