<h2>Password Change Link for '<%= @user.username %>'</h2>

<p>
  Someone requested a link to change your password. You can do this through this link:
</p>

<h3 style="text-align: center"><%= link_to 'Change my password', edit_password_url(@user.perishable_token) %></h3>

<p>
  This link expires in <%= distance_of_time_in_words User.perishable_token_valid_for %> and only works 1 time,
  but you can always <%= link_to "generate a new one", new_password_url %>.
</p>

<p>
  If you didn't make this request, please ignore this email. If have any problems please feel free to <%= mail_to t('app.support_email'), 'contact us' %>.
</p>

<%= render 'signature' %>

<%= analytics_image_tag utm_campaign: 'reset_password_instructions' if Rails.env.production? %>
