== Password Change Link for '<%= @user.username %>' ==

Someone requested a link to change your password. You can do this through this link:

<%= edit_password_url(@user.perishable_token) %>

This link expires in <%= distance_of_time_in_words User.perishable_token_valid_for %> and only works 1 time, but you can always generate a new one by clicking this link: <%= new_password_url %>

If you didn't make this request, please ignore this email. If you have any problems please feel free to contact us at <%= t('app.support_email') %>.

<%= render 'signature' %>
