Welcome <%= @user.name %>,

You have successfully signed up for an account on <%= t 'app.title' %>

Your username is: <%= @user.username %>

You will need to set your password before logging in: <%= edit_password_url(@user.perishable_token) %>

This link expires in <%= distance_of_time_in_words User.perishable_token_valid_for %> and only works 1 time, but you can always generate a new one by clicking this link: <%= new_password_url(login: @user.to_param) %>

<%= render 'signature' %>
