<h2>Welcome <%= @user.name %>,</h2>

<p>
  You have successfully signed up for an account on <%= link_to t('app.title'), root_url %>!
</p>

<p>
  Your username is <strong><%= @user.username %></strong>.
</p>

<p>
  You will need to <%= link_to 'set your password', edit_password_url(@user.perishable_token) %> before logging in.
</p>

<p>
  This link expires in <%= distance_of_time_in_words User.perishable_token_valid_for %> and only works 1 time,
  but you can always <%= link_to "generate a new one", new_password_url(login: @user.to_param) %>.
</p>

<%= render 'signature' %>

<%= analytics_image_tag utm_campaign: 'welcome' if Rails.env.production? %>
