<%%= form_with(model: search, scope: :q, method: :get, class: '<%= name %>-search form-inline', data: { autosubmit: true }) do |form| %>

  <%%= render 'error_messages', target: search %>

  <div class="form-row justify-content-end">
    <div class="col-auto mb-1">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><%%= icon :fas, 'search' %></div>
        </div>
<% attributes.each do |attribute| -%>
<% if attribute.name == 'status' %>
        <%%= form.collection_select :status, <%= name.classify %>.<%= attribute.name.pluralize %>.keys, :to_s, :titleize,
          { include_blank: 'All <%= attribute.name.pluralize.titleize %>' },
          { class: 'form-control', title: '<%= attribute.name.titleize %>', 'data-toggle': 'tooltip' } %>
<% else %>
        <%%= form.search_field :<%= attribute.name %>, class: 'form-control input-sm',
            placeholder: '<%= attribute.name.titleize %>', title: '<%= attribute.name.titleize %>', 'data-toggle': 'tooltip' %>
<% end -%>
<% end -%>
      </div>
    </div>

    <div class="col-auto mb-2">
      <%%= form.submit 'Search', class: 'btn btn-secondary' %>
    </div>
  </div>

<%% end %>
