# frozen_string_literal: true

class <%= form_class_name %>
  include ActiveModel::Model
  include ActiveModel::Attributes
  include Inspectable

<% attributes.each do |attribute| -%>
  attribute :<%= attribute.name %>, :<%= attribute.type %>
<% end -%>

  delegate :[], to: :attributes

  #
  # Validations
  #

  #
  # Methods
  #

  def model_name
    <%= class_name %>.model_name
  end

  def apply(<%= name.pluralize %>: <%= class_name %>.sorted)
    return <%= name.pluralize %> unless valid?

    <%= name.pluralize %>
<% attributes.each do |attribute| -%>
      .then(&method(:where_<%= attribute.name %>))
<% end -%>
  end
<% attributes.select { |a| a.name.ends_with? '_id' }.each do |attribute| # Resource getters -%>
<% name = attribute.name.delete_suffix '_id' -%>

  def <%= name %>
    # @<%= name %> ||= <%= name.classify %>.friendly.find(<%= attribute.name %>) if <%= attribute.name %>.present?
  end
<% end -%>

  private
<% attributes.each do |attribute| # Where clauses -%>

    def where_<%= attribute.name %>(relation)
      if <%= attribute.name %>.present?
<% if class_name.constantize.respond_to? "search_by_#{attribute.name}" -%>
        # TODO: compare with the definition by <%= class_name %>.pg_search_scope
        relation.search_by_<%= attribute.name %>(<%= attribute.name %>)
<% else -%>
        relation.where(<%= attribute.name %>: <%= attribute.name %>)
<% end -%>
      else
        relation
      end
    end
<% end -%>

end
