<% if troubled_job_count.positive? %>
  <li class="nav-item">
    <%= link_to jobs_path(status: :failed), class: 'nav-link text-warning' do %>
      <%= tag.span troubled_job_count, class: 'badge badge-warning' %> Jobs Need Help
    <% end %>
  </li>
<% end %>
