<div class="version list-group-item" id="<%= version.dom_id %>">

  <div class="version-timestamp" title="<%= l version.created_at %>">
    <%= version.created_at.strftime('%A, %B %e, %Y %l:%M%P %Z') %>
  </div>

  <div class="version-author">
    <span class="text-muted caption">Author: </span>
    <% if version.who.is_a? User %>
      <%= link_to version.who, version.who %>
    <% else %>
      <tt><%= version.who %></tt>
    <% end %>
  </div>

  <div class="btn-group version-actions" role="group">
    <%= link_to icon('fas', 'link'), url_for(anchor: version.dom_id, q: version_search_form_params), class: 'btn btn-secondary btn-sm', title: 'Direct Link', 'data-toggle': 'tooltip' %>

    <% if can? :revert, version %>
      <%= link_to icon('fas', 'undo', 'Revert'), revert_version_path(version), { data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-secondary btn-sm revert-link' } %>
    <% end %>
  </div>

  <p class="version-event mb-1">
    <%= t("papertrail.events.#{version.event}", default: version.event).titleize %>

    <% if version.item_class %>
      <%= version.item_class.model_name.human %>
    <% else %>
      <!-- Version item's class is not found. The class may have been renamed or deleted. -->
      <%= tag.span version.item_type, class: 'text-danger', title: 'Missing', 'data-toggle': 'tooltip' %>
    <% end %>

    <% if version.route? %>
      &mdash; <%= link_to(version.object_instance, version.object_path) %>
    <% elsif version.object_instance.present? %>
      &mdash; <%= version.object_instance %>
    <% end %>
  </p>

  <dl class="row version-changes">
    <% version.enhanced_changeset.each do |prop, change| %>
      <dt class="col-sm-3"><%= "#{prop} " %></dt>
      <dd class="col-sm-9 mb-0">
        <tt class="before"><%= change[0] %></tt>
        <tt class="after"><%= change[1] %></tt>
      </dd>
    <% end %>
  </dl>
</div>
