$red: #f2dede;
$green: #dff0d8;
$blue: #d9edf7;

.versions-container { margin-top: 10px; }

.version {
  .version-timestamp {
    float: right;
  }

  .version-author,
  .version-actions {
    clear: right;
    float: right;
  }

  .caption { visibility: hidden; }
  &:hover .caption { visibility: visible; }

  .version-changes {
    margin-bottom: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;

    .before {
      background-color: $red;
      text-decoration: line-through;
    }

    .after {
      background-color: $green;
    }
  }
}

.version-search-form {
  .input-group,
  > .form-control,
  > span,
  .btn {
    margin-bottom: .5rem;
  }
}
