<%# https://github.com/rails/rails/blob/main/activerecord/lib/rails/generators/active_record/model/templates/model.rb.tt -%>
# frozen_string_literal: true

<% module_namespacing do -%>
class <%= class_name %> < <%= parent_class_name.classify %>
<% if defined?(Turbo) && defined?(Redis) -%>
  # broadcasts # Turbo Streams

<% end -%>
<% if defined?(FriendlyId) -%>
  # include FriendlyId
  # friendly_id :name, use: :slugged

<% end -%>
<% if defined?(PaperTrail) -%>
  # has_paper_trail

<% end -%>
<% if defined?(PgSearch) -%>
  include PgSearch::Model
  multisearchable against: [:model_name] # TODO: add searchable fields

<% end -%>
  #
  # Attributes
  #

  # attribute :name, :string, squish: true
  # enum :status, [:active, :inactive], default: :active

  #
  # Associations
  #

<% attributes.select(&:reference?).each do |attribute| -%>
  belongs_to :<%= attribute.name %><%= ", polymorphic: true" if attribute.polymorphic? %>
<% end -%>
<% attributes.select(&:rich_text?).each do |attribute| -%>
  has_rich_text :<%= attribute.name %>
<% end -%>
<% attributes.select(&:attachment?).each do |attribute| -%>
  has_one_attached :<%= attribute.name %>
<% end -%>
<% attributes.select(&:attachments?).each do |attribute| -%>
  has_many_attached :<%= attribute.name %>
<% end -%>
<% attributes.select(&:token?).each do |attribute| -%>
  has_secure_token<% if attribute.name != "token" %> :<%= attribute.name %><% end %>
<% end -%>
<% if attributes.any?(&:password_digest?) -%>
  has_secure_password
<% end -%>

  #
  # Scopes
  #

  # scope :sorted, -> { order(:name) }

  #
  # Callbacks
  #

  #
  # Validations
  #

  # validates :name, presence: true

  #
  # Class Methods
  #

  #
  # Methods
  #

  # def to_s
  #   name.to_s
  # end
end
<% end -%>
